<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.conol.wifihelper_admin_lib">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- wifiのオンオフを検知 -->
        <receiver android:name=".wifi_connector.receiver.WifiStateWatcher">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- wifi有効期限切れのアラームを検知 -->
        <receiver
            android:name=".wifi_connector.receiver.WifiExpiredBroadcastReceiver"
            android:process=":remote" />

    </application>



</manifest>
